{% extends 'users/usersBase.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
<article class="accueil">
    <h2>{{ article.title }} </h2>
    <p>
        {% if article.modifiedAt is not null %}
            Modifié le {{ article.modifiedAt ? article.modifiedAt|date('d/m/Y à H:i:s') : '' }}
        {% else %}
            Publié le {{ article.createdAt ? article.createdAt|date('d/m/Y') : '' }}
        {% endif %}
        | par <a href="#"><span>&commat;</span>{{ article.users.pseudo }}</a>
    </p>
        
    <p>{{ article.likes }} aimes | {{ article.dislikes }} n'aimes pas </p>
    <p>{{ article.content|raw }}</p>
</article>

<aside class="accueil_aside">
    <a href="{{ path('app_article_index') }}">Retour</a>
        {% if article.users == app.user %}
            <a href="{{ path('admin_articles_edit', {'slug': article.slug}) }}">Modifier</a>
        {% endif %}
    <h2>Les derniers articles</h2>
    <div class="cards">
        <div class="card">
            <div class="card_img"  style="background-image: url({{asset('assets/images/ebih-il-mesopotamie-histoire.jpg')}});">
                <h4 class="card_title"><b>10 000 ans avant Jésus-Christ</b></h4> 
            </div>
            <div class="card_body">
            <p>Cette période de l’histoire se termine en 476 ans après Jésus-Christ lorsque l’Empire Romain chute.</p> 
            </div>
        </div>
    </div>
</aside>
{% endblock %}
