{% extends 'admin/adminBase.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block adminBody %}
            <h2>{{ controller_name }} | articles | <a href="#">Ajouter un article <span>&#8594;</span></a></h2>
<section class="grid">
    <article>
            <div>
                <h2>Titre de l'article ici ......</h2>
                <div class="" style="height:100px;background-image: url({{asset('assets/images/carte.jpg')}});"></div>
            </div> 
            <div class="">
                <div>
                    <icon class="fa fa-calendar"></icon> 
                    Publié le 12/05/2059
                </div>
                <div>
                    <icon class="fa fa-folder"></icon> 
                    Catégorie : Technologie
                </div>
                <div>
                    <icon class="fa fa-user"></icon> 
                    Auteur : John Doe
                </div>
                <div>
                    {{ include('partials/_socialBar.html.twig')}}
                </div>
            </div>
            <div class="">
                Contenu de l'article ici ......
            </div>
    </article>
    <article>
            <div>
                <h2>Titre de l'article ici ......</h2>
                <div class="" style="height:100px;background-image: url({{asset('assets/images/carte.jpg')}});"></div>
            </div> 
            <div class="">
                <div>
                    <icon class="fa fa-calendar"></icon> 
                    Publié le 12/05/2059
                </div>
                <div>
                    <icon class="fa fa-folder"></icon> 
                    Catégorie : Technologie
                </div>
                <div>
                    <icon class="fa fa-user"></icon> 
                    Auteur : John Doe
                </div>
                <div>
                    {{ include('partials/_socialBar.html.twig')}}
                </div>
            </div>
            <div class="">
                Contenu de l'article ici ......
            </div></article>
    <article>
            <div>
                <h2>Titre de l'article ici ......</h2>
                <div class="" style="height:100px;background-image: url({{asset('assets/images/carte.jpg')}});"></div>
            </div> 
            <div class="">
                <div>
                    <icon class="fa fa-calendar"></icon> 
                    Publié le 12/05/2059
                </div>
                <div>
                    <icon class="fa fa-folder"></icon> 
                    Catégorie : Technologie
                </div>
                <div>
                    <icon class="fa fa-user"></icon> 
                    Auteur : John Doe
                </div>
                <div>
                    {{ include('partials/_socialBar.html.twig')}}
                </div>
            </div>
            <div class="">
                Contenu de l'article ici ......
            </div></article>
    <article>
            <div>
                <h2>Titre de l'article ici ......</h2>
                <div class="" style="height:100px;background-image: url({{asset('assets/images/carte.jpg')}});"></div>
            </div> 
            <div class="">
                <div>
                    <icon class="fa fa-calendar"></icon> 
                    Publié le 12/05/2059
                </div>
                <div>
                    <icon class="fa fa-folder"></icon> 
                    Catégorie : Technologie
                </div>
                <div>
                    <icon class="fa fa-user"></icon> 
                    Auteur : John Doe
                </div>
                <div>
                    {{ include('partials/_socialBar.html.twig')}}
                </div>
            </div>
            <div class="">
                Contenu de l'article ici ......
            </div></article>
    <article>
            <div>
                <h2>Titre de l'article ici ......</h2>
                <div class="" style="height:100px;background-image: url({{asset('assets/images/carte.jpg')}});"></div>
            </div> 
            <div class="">
                <div>
                    <icon class="fa fa-calendar"></icon> 
                    Publié le 12/05/2059
                </div>
                <div>
                    <icon class="fa fa-folder"></icon> 
                    Catégorie : Technologie
                </div>
                <div>
                    <icon class="fa fa-user"></icon> 
                    Auteur : John Doe
                </div>
                <div>
                    {{ include('partials/_socialBar.html.twig')}}
                </div>
            </div>
            <div class="">
                Contenu de l'article ici ......
            </div></article>
    <article>
            <div>
                <h2>Titre de l'article ici ......</h2>
                <div class="" style="height:100px;background-image: url({{asset('assets/images/carte.jpg')}});"></div>
            </div> 
            <div class="">
                <div>
                    <icon class="fa fa-calendar"></icon> 
                    Publié le 12/05/2059
                </div>
                <div>
                    <icon class="fa fa-folder"></icon> 
                    Catégorie : Technologie
                </div>
                <div>
                    <icon class="fa fa-user"></icon> 
                    Auteur : John Doe
                </div>
                <div>
                    {{ include('partials/_socialBar.html.twig')}}
                </div>
            </div>
            <div class="">
                Contenu de l'article ici ......
            </div></article>
    <article>
            <div>
                <h2>Titre de l'article ici ......</h2>
                <div class="" style="height:100px;background-image: url({{asset('assets/images/carte.jpg')}});"></div>
            </div> 
            <div class="">
                <div>
                    <icon class="fa fa-calendar"></icon> 
                    Publié le 12/05/2059
                </div>
                <div>
                    <icon class="fa fa-folder"></icon> 
                    Catégorie : Technologie
                </div>
                <div>
                    <icon class="fa fa-user"></icon> 
                    Auteur : John Doe
                </div>
                <div>
                    {{ include('partials/_socialBar.html.twig')}}
                </div>
            </div>
            <div class="">
                Contenu de l'article ici ......
            </div></article>
    <article>
            <div>
                <h2>Titre de l'article ici ......</h2>
                <div class="" style="height:100px;background-image: url({{asset('assets/images/carte.jpg')}});"></div>
            </div> 
            <div class="">
                <div>
                    <icon class="fa fa-calendar"></icon> 
                    Publié le 12/05/2059
                </div>
                <div>
                    <icon class="fa fa-folder"></icon> 
                    Catégorie : Technologie
                </div>
                <div>
                    <icon class="fa fa-user"></icon> 
                    Auteur : John Doe
                </div>
                <div>
                    {{ include('partials/_socialBar.html.twig')}}
                </div>
            </div>
            <div class="">
                Contenu de l'article ici ......
            </div></article>
</section>
{% endblock %}
