{% extends 'base.html.twig' %}

{% block title %}{{controller_name}}{% endblock %}

{% block body %}
<!-- Form-->
<div class="form">
{% if error %}
    <div class="alert alert-error">
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
{% endif %}
    <div class="form-panel">
        <h2>Connectez-vous à votre compte</h2>
        <form method="post">
            <div class="form-group">
                <label for="username">Votre e-mail</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" required autofocus>
            </div>
            <div class="form-group">
                <label for="password">Votre mot de passe</label>
                <input type="password" name="password" id="inputPassword" required>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="form-group">
                <a class="form-recovery" href="{{path('app_forgot_password_request')}}">Mot de passe oublié</a>
            </div>
            <div class="form-group">
                <button type="submit">{{controller_name}}</button>
            </div>
        </form>
    </div>
    {% if app.user %}
        <div class="form-footer">
            <p>* {{ app.user.username }} connecté, <a href="{{ path('app_logout') }}">Déconnexion</a></p>
        </div>
    {% endif %}
</div>

{% endblock %}
