<header id="header" class="header">
    <div id="sidenav" class="sidenav">
        <a class="closebtn" href="javascript:void(0)" onclick="closeNav()">&times;</a>
        <div class="sidenavBtn">
            {% if app.user %}
                <div class="sidenavAvatar">
                    <img src="{{ app.user.avatar }}" alt="{{ app.user.pseudo }}">
                    <span>{{ app.user.pseudo }}</span>
                </div>
                <div class="sidenavLink">
                    <a class="link" href="{{path('users_account_accueil')}}">Mon compte</a>
                    <a class="link" href="{{path('users_articles_accueil')}}">Mes Articles</a>
                    <a class="link" href="{{path('app_accueil')}}">À propos</a>
                    <a class="link" href="{{path('youtube_home')}}">Youtube</a>
                    <a class="link" href="{{path('app_articles_accueil')}}">Les Articles</a>
                    <a class="link" href="{{path('app_categories_index')}}">Categories</a>
                    <a class="link" href="{{path('app_logout')}}">Déconnexion</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a style="background-color:#ff000065;"class="link" href="{{path('admin_accueil')}}">
                            <div><icon class="fa fa-user-secret"></div> 
                            Admin
                        </a>
                        <a style="background-color:#ff000065;"class="link" href="{{path('admin_articles_accueil')}}">
                            <div><icon class="fa fa-user-secret"></div> 
                            AdminART
                        </a>
                        <a style="background-color:#ff000065;"class="link" href="{{path('admin_categories_accueil')}}">
                            <div><icon class="fa fa-user-secret"></div> 
                            AdminCAT
                        </a>
                    {% endif %}
                </div>
            {% else %}
                <div class="sidenavLink">
                    <a class="link" href="{{path('app_login')}}">Se connecter</a>
                    <a class="link" href="{{path('app_register')}}">S'inscrire</a>
                </div>
            {% endif %}
        </div>
    </div>
    <nav class="navbar">
        <p class="banner">{{ controller_name }}</p>
        <ul class="navlinks">
            <div>
                <li class="navlinkLogo">
                    <a href="{{path('app_accueil')}}">
                    <img style="" src="{{ asset('assets/images/logo/tlse-dev.png')}}"/>
                    </a>
                </li>
            </div>
            <div>
            <li class="navlink">
                <a class="link avatar" href="{{path('app_accueil')}}">
                <div><icon class="fa fa-home"></div>
                <span>Accueil</span>
                </a>
            </li>
            <li class="navlink">
                <a class="link avatar" href="{{path('youtube_home')}}">
                <div><icon class="fa fa-play-circle"></div>
                <span>Tutos</span>
                </a>
            </li>
            <li class="navlink">
                <a class="link avatar" href="{{path('app_articles_accueil')}}">
                <div><icon class="fa fa-archive"></div>
                <span>Le blog</span>
                </a>
            </li>
            <li class="navlink">
                <a class="link avatar" href="{{path('app_categories_index')}}">
                <div><icon class="fa fa-folder"></div>
                <span>Services</span>
                </a>
            </li>
            <li class="navlink">
                {% if app.user %}
                    <a class="link avatar" href="#" onclick="openNav()">
                        <img src="{{ app.user.avatar }}" alt="{{ app.user.pseudo }}">
                        <span>{{ app.user.name }} {{ app.user.firstname }}</span>
                    </a>
                {% else %}
                    <a class="link avatar" href="#" onclick="openNav()"><icon class="fa fa-user"></a>
                {% endif %}
            </li>
            </div>
        <ul>
    </nav>
    {% if article.thumb is defined %}
        <div class="headerBanner"style="background-image: url({{article.thumb}});">
            <div class="logo">
                <h1>{{ controller_name }}</h1>
            </div>
        </div>
    {% else %}
        <div class="headerBanner">
            <div class="logo">
                <h1>{{ controller_name }}</h1>
            </div>
        </div>
    {% endif %}
</header>