<header id="header" class="header">
    {% if article.thumb is defined %}
        <div class="headerBanner"style="background-image: url({{article.thumb}});">
            <h1>{{ controller_name }}</h1>
        </div>
    {% else %}
        <div class="headerBanner">
            <h1>{{ controller_name }}</h1>
            <div id="sidenav" class="sidenav">
                <div class="">
                    <a class="closebtn" href="javascript:void(0)" onclick="closeNav()">&times;</a>
                </div>
                {% if app.user %}
                <div class="">
                    <div class="avatar">
                        <img src="{{ app.user.avatar }}" alt="{{ app.user.pseudo }}">
                        <span>{{ app.user.pseudo }}</span>
                    </div>
                    <a class="link" href="{{path('users_account_accueil')}}">Mon compte</a>
                    <a class="link" href="{{path('users_articles_accueil')}}">Mes Articles</a>
                    <a class="link" href="{{path('app_logout')}}">Déconnexion</a>
                {% else %}
                    <a class="link" href="{{path('app_login')}}">Se connecter</a>
                    <a class="link" href="{{path('app_register')}}">S'inscrire</a>
                </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <nav class="navbar">
        <p class="banner">{{ controller_name }}</p>
        <ul class="navlinks">
            <li class="navlink">
                <a class="link" href="{{path('app_accueil')}}">À propos</a>
            </li>
            <li class="navlink">
                <a class="link" href="{{path('youtube_home')}}">Youtube</a>
            </li>
            <li class="navlink">
                <a class="link" href="{{path('app_articles_accueil')}}">Les Articles</a>
            </li>
            <li class="navlink">
                <a class="link" href="{{path('app_categories_index')}}">Categories</a>
            </li>
            <li class="navlink">
                <div class="drop">
                    <div class="link">Avant l'histoire</div>
                    <div class="drop_content">
                        <a href="{{path('app_accueil')}}">Les fondations</a>
                        <a href="{{path('app_accueil')}}">L'Homo sapiens</a>
                        <a href="{{path('app_accueil')}}">Au seuil de la civilisation</a>
                    </div>
                </div> 
            </li>
            <li class="navlink">
                <div class="drop">
                    <div class="link">Les civilisations</div>
                    <div class="drop_content">
                        <a href="{{path('app_accueil')}}">Les premières traces de la civilisation</a>
                        <a href="{{path('app_accueil')}}">La mésopotamie ancienne</a>
                        <a href="{{path('app_accueil')}}">L'Egypte ancienne</a>
                        <a href="{{path('app_accueil')}}">Intrus et envahisseurs</a>
                        <a href="{{path('app_accueil')}}">Les commencement de la civilisation en Asie du sud</a>
                        <a href="{{path('app_accueil')}}">Les autres mondes des Temps anciens</a>
                        <a href="{{path('app_accueil')}}">Transformations</a>
                    </div>
                </div> 
            </li>
            <li class="navlink">
                <div class="drop">
                    <div class="link">L'âge classique</div>
                    <div class="drop_content">
                        <a href="{{path('app_accueil')}}">Rebâtir le monde ancien</a>
                        <a href="{{path('app_accueil')}}">Les grecs</a>
                        <a href="{{path('app_accueil')}}">Le monde hellénistique</a>
                        <a href="{{path('app_accueil')}}">Rome</a>
                        <a href="{{path('app_accueil')}}">Le christianisme et la transition occidentale</a>
                        <a href="{{path('app_accueil')}}">L'Inde classique</a>
                        <a href="{{path('app_accueil')}}">La Chine classic</a>
                    </div>
                </div> 
            </li>
            <li class="navlink">
                <!-- Use any element to open the sidenav -->
                {% if app.user %}
                    <a href="#" onclick="openNav()">
                        <div class="avatar">
                            <img src="{{ app.user.avatar }}" alt="{{ app.user.pseudo }}">
                            {# <span>{{ app.user.pseudo }}</span> #}
                        </div>
                    </a>
                {% else %}
                    <a  class="link" href="#" onclick="openNav()">Se connecter | S'inscrire</a>
                {% endif %}
            </li>
        <ul>
    </nav>
</header>