<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="keywords" content="Saidtoweb"/>
        <meta name="description" content="Saidtoweb est une agence web de la région toulousaine, spécialisée dans le développement de sites internet." />
        <meta name="author" content="Saïd Boukhris"/>
        <meta property="og:locale:alternate" content="fr_FR" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Saidtoweb Agence Web,Toulouse." />
        <meta property="og:description" content="Saidtoweb est une agence web de la région toulousaine, spécialisée dans le développement de sites internet." />
        <link rel="icon" type="image/png" href="{{ asset('assets/images/logo/tlse-dev.png')}}" />
        <title>Saidtoweb | ADMIN {% block title %}{% endblock %} </title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet"  type="text/css" href="{{ asset('assets/admin/css/main.css')}}">
        <link rel="stylesheet"  type="text/css" href="{{ asset('assets/admin/css/header.css')}}">
        <link rel="stylesheet"  type="text/css" href="{{ asset('assets/css/root.css')}}">
        {# <link rel="stylesheet"  type="text/css" href="{{ asset('assets/css/main.css')}}">
        <link rel="stylesheet"  type="text/css" href="{{ asset('assets/css/header.css')}}"> #}
    </head>
    
    <body>

        <div id="main">
            {{ include('admin/partials/_svg.html.twig')}}
            
            <section id="pageContent" class="page-content">
                {{ include('admin/partials/_nav.html.twig')}}
                {# {{ include('partials/_nav.html.twig')}} #}
                {{ include('admin/partials/_navSearch.html.twig')}}
                {% block adminBody %}{% endblock %}
            </section>

            <footer class="page-footer">
                <span>made by </span>
                <a href="#" target="_blank">
                    <img width="24" height="24" src="https://assets.codepen.io/162656/george-martsoukos-small-logo.svg"
                        alt="George Martsoukos logo">
                </a>
            </footer>
        </div>

        {% block javascripts %}
            <script src="{{ asset('/assets/admin/js/script.js')}}"></script>
            <script src="{{ asset('/assets/js/script.js')}}"></script>
            <script src="{{ asset('/assets/js/sidenav.js')}}"></script>
        {% endblock %}

    </body>
</html>
