{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
<div class="leftcolumn">
    {% for category in categories %}
    <div class="card">
        <a href="{{ path('app_categories_show', {'slug': category.slug}) }}">
            <h2>{{ category.name }}</h2>
            <h5>{{ pluralize(category.articles|length, 'article') }}</h5>
            {% for articles in category.articles %}
            <div class="fakeimg" style="background-image: url({{articles.thumb}});"></div>
                <p>{{ articles.title }}</p>
            {% else %}
            <div class="fakeimg" style="background-image: url({{asset('assets/images/carte.jpg')}});"></div>
                <p>Aucun article dans cette catégorie</p>
            {% endfor %}
        </a>
    </div>
    {% endfor %}
</div>
<div class="rightcolumn">
    {% for category in categories %}
        <div class="card">
            <h2>{{ category.name }}</h2>
            <div class="fakeimg" style="height:50px;background-image: url({{asset('assets/images/carte.jpg')}});">
            <a href="{{ path('app_categories_show', {'slug': category.slug}) }}" style="color: white;background-color:black;">{{ pluralize(category.articles|length, 'article')}}</a></div>
            
        </div>
    {% endfor %}
</div>
{% endblock %}
