{% extends 'base.html.twig' %}

{% block title %}{{ categories.name }}{% endblock %}

{% block body %}
<div class="leftcolumn">
    <h2>{{ categories.name }} ({{ pluralize(categories.articles|length, 'article') }}) </h2>
    <a href="{{ path('admin_categories_edit', {'id': categories.id}) }}">Modifier</a>
    <div class="">
        {% for article in categories.articles %}
            <div class="img" style="background-image: url({{article.thumb}});">
                <h2 class="">{{ article.title }}</h2> 
            </div>
        {% else %}
            <p>Aucune catégorie en ce moment<a href="{{ path('admin_categories_add') }}">
            Ajouter une catégorie <span>&#8594;</span></a></p>
    {% endfor %}
    </div>
</div>

<div class="rightcolumn">
    <div class="">
    <a href="{{ path('admin_categories_add') }}">
            Ajouter une catégorie <span>&#8594;</span></a>
    </div>

</div>
{% endblock %}
