{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<article class="leftcolumn">
    <h2>Histoire Du Monde, c’est quoi ?</h2>

    <p>Un petit coin du web né de l’envie de partager…</p>

    <p>Des chroniques de lecture – les miennes. Et aussi celles d'articles trouvés sur internet et celles que je lis à la bibliothèque – parce que j’ai envie de savoir comment l'Histoire fait le Présent, et j’imagine que c’est pareil pour vous !</p>
    <p>Quelques mots sur moi</p>
   
    <p>En 2009, j’ai quitté une vie professionnelle très (trop ?) intense et la région parisienne pour m’installer avec ma famille dans un petit village dans le sud-ouest. Depuis, j’ai vécu toutes sortes d’aventures… Beaucoup se sont déroulées au cours de randonnées à la découverte du patrimoine de cette région.</p>

    <p>Histoire du Monde m’a accompagnée tout au long de ces années. J’espère que vous vous y sentirez bien. C’est parti…</p>

    <p>Le début de la préhistoire est marquée par l’apparition des premiers organismes vivants. Puis ce sont les premiers dinosaures et les premiers primates qui voient le jours. Ensuite apparaissent les australopithèques, dont le squelette de Lucy est découvert en 1974 en Ethiopie. Plus tard, l’homo-habilis se développe en Afrique.</p>
    <p>Il est capable de fabriquer et d’utiliser des outil. Bien après, l’homo-erectus commence à marcher complètement droit et debout dans la savane. Puis, l’homme de Neandertal voit le jour. Il commence à maîtriser le feu et à parler. Enfin, l’évolution donne vie à l’homme moderne qui colonise le monde, peint, sculpte et chasse. Il finit par se sédentariser pour écrire son histoire dans une nouvelle période historique nommée antiquité.</p>  
    <p>Histoire du Monde, ce sera également (pour très bientôt) des récits historiques fictifs sous la forme de contes… de la naissance d’Anna en Mésopotamie en 10 000 avant Jésus-Christ à son installation sur Mars avec son chat Horus.</p>
    <p><img src="{{ asset('assets/images/colonisation-homme-prehistoire.jpg')}}"></p>
    <p>Le début de la préhistoire est marquée par l’apparition des premiers organismes vivants. Puis ce sont les premiers dinosaures et les premiers primates qui voient le jours. Ensuite apparaissent les australopithèques, dont le squelette de Lucy est découvert en 1974 en Ethiopie. Plus tard, l’homo-habilis se développe en Afrique.</p>
    <p>Il est capable de fabriquer et d’utiliser des outil. Bien après, l’homo-erectus commence à marcher complètement droit et debout dans la savane. Puis, l’homme de Neandertal voit le jour. Il commence à maîtriser le feu et à parler. Enfin, l’évolution donne vie à l’homme moderne qui colonise le monde, peint, sculpte et chasse. Il finit par se sédentariser pour écrire son histoire dans une nouvelle période historique nommée antiquité.</p>  
    <h2>La Préhistoire</h2>
    <p>Le début de la préhistoire est marquée par l’apparition des premiers organismes vivants. Puis ce sont les premiers dinosaures et les premiers primates qui voient le jours. Ensuite apparaissent les australopithèques, dont le squelette de Lucy est découvert en 1974 en Ethiopie. Plus tard, l’homo-habilis se développe en Afrique.</p>
    <p>Il est capable de fabriquer et d’utiliser des outil. Bien après, l’homo-erectus commence à marcher complètement droit et debout dans la savane. Puis, l’homme de Neandertal voit le jour. Il commence à maîtriser le feu et à parler. Enfin, l’évolution donne vie à l’homme moderne qui colonise le monde, peint, sculpte et chasse. Il finit par se sédentariser pour écrire son histoire dans une nouvelle période historique nommée antiquité.</p>  
    <p><img src="{{ asset('assets/images/grottes-lascaux-prehistoire.jpg')}}"></p>    
    <h2>L’ANTIQUITÉ</h2>  
    <p>Histoire du Monde, ce sera également (pour très bientôt) des récits historiques fictifs sous la forme de contes… de la naissance d’Anna en Mésopotamie en 10 000 avant Jésus-Christ à son installation sur Mars avec son chat Horus.</p>
    <p>Le début de la préhistoire est marquée par l’apparition des premiers organismes vivants. Puis ce sont les premiers dinosaures et les premiers primates qui voient le jours. Ensuite apparaissent les australopithèques, dont le squelette de Lucy est découvert en 1974 en Ethiopie. Plus tard, l’homo-habilis se développe en Afrique.</p>
    <p>Il est capable de fabriquer et d’utiliser des outil. Bien après, l’homo-erectus commence à marcher complètement droit et debout dans la savane. Puis, l’homme de Neandertal voit le jour. Il commence à maîtriser le feu et à parler. Enfin, l’évolution donne vie à l’homme moderne qui colonise le monde, peint, sculpte et chasse. Il finit par se sédentariser pour écrire son histoire dans une nouvelle période historique nommée antiquité.</p> 
    <p><img src="{{ asset('assets/images/mesopotamie-moyen-orient-antiquite-catal-huyuk-740x472.jpg')}}"></p>  
    <p>Histoire du Monde, ce sera également (pour très bientôt) des récits historiques fictifs sous la forme de contes… de la naissance d’Anna en Mésopotamie en 10 000 avant Jésus-Christ à son installation sur Mars avec son chat Horus.</p>
    <p>L’Antiquité est une période de l’Histoire qui se situe entre 10 000 ans avant Jésus-Christ et 476 ans après Jésus-Christ. Au début de l’antiquité l’homme moderne commence à cultiver des champs et à construire des villes. Puis il invente la roue et l’écriture pour finalement se sédentariser. Naissent alors les religions, la différenciation sociale et les premières batailles.</p>      
    <p>Puis la royauté s’instaurent et les premiers Empires se battissent. Pendant l’antiquité, l’homme ne cesse de vouloir conquérir de nouveaux territoires. C’est alors que de longues et fructueuses périodes de prospérité se succèdent à de périlleuses périodes de guerre.</p>      
    <p><img src="{{ asset('assets/images/tour-babel-pieter-brueghel-768x576.jpg')}}"></p>
    <p>L’Antiquité débute en 10 000 ans avant Jésus-Christ lorsque les hommes commencent à cultiver des champs en Mésopotamie. Cette période de l’histoire se termine en 476 ans après Jésus-Christ lorsque l’Empire Romain chute. Les articles ci-dessous sont classés par zones géographiques, civilisations et ordre chronologique.</p>
    <p>L’Antiquité est une période de l’Histoire qui se situe entre 10 000 ans avant Jésus-Christ et 476 ans après Jésus-Christ. Au début de l’antiquité l’homme moderne commence à cultiver des champs et à construire des villes. Puis il invente la roue et l’écriture pour finalement se sédentariser. Naissent alors les religions, la différenciation sociale et les premières batailles.</p>      
    <p>Puis la royauté s’instaurent et les premiers Empires se battissent. Pendant l’antiquité, l’homme ne cesse de vouloir conquérir de nouveaux territoires. C’est alors que de longues et fructueuses périodes de prospérité se succèdent à de périlleuses périodes de guerre.</p>      
    <p><img src="{{ asset('assets/images/tour-babel-pieter-brueghel-768x576.jpg')}}"></p>
    <p>L’Antiquité débute en 10 000 ans avant Jésus-Christ lorsque les hommes commencent à cultiver des champs en Mésopotamie. Cette période de l’histoire se termine en 476 ans après Jésus-Christ lorsque l’Empire Romain chute. Les articles ci-dessous sont classés par zones géographiques, civilisations et ordre chronologique.</p>
    <p>L’Antiquité est une période de l’Histoire qui se situe entre 10 000 ans avant Jésus-Christ et 476 ans après Jésus-Christ. Au début de l’antiquité l’homme moderne commence à cultiver des champs et à construire des villes. Puis il invente la roue et l’écriture pour finalement se sédentariser. Naissent alors les religions, la différenciation sociale et les premières batailles.</p>      
    <p>Puis la royauté s’instaurent et les premiers Empires se battissent. Pendant l’antiquité, l’homme ne cesse de vouloir conquérir de nouveaux territoires. C’est alors que de longues et fructueuses périodes de prospérité se succèdent à de périlleuses périodes de guerre.</p>      
    <p><img src="{{ asset('assets/images/tour-babel-pieter-brueghel-768x576.jpg')}}"></p>
    <p>L’Antiquité débute en 10 000 ans avant Jésus-Christ lorsque les hommes commencent à cultiver des champs en Mésopotamie. Cette période de l’histoire se termine en 476 ans après Jésus-Christ lorsque l’Empire Romain chute. Les articles ci-dessous sont classés par zones géographiques, civilisations et ordre chronologique.</p>
    <p>L’Antiquité est une période de l’Histoire qui se situe entre 10 000 ans avant Jésus-Christ et 476 ans après Jésus-Christ. Au début de l’antiquité l’homme moderne commence à cultiver des champs et à construire des villes. Puis il invente la roue et l’écriture pour finalement se sédentariser. Naissent alors les religions, la différenciation sociale et les premières batailles.</p>      
    <p>Puis la royauté s’instaurent et les premiers Empires se battissent. Pendant l’antiquité, l’homme ne cesse de vouloir conquérir de nouveaux territoires. C’est alors que de longues et fructueuses périodes de prospérité se succèdent à de périlleuses périodes de guerre.</p>      
    <p><img src="{{ asset('assets/images/tour-babel-pieter-brueghel-768x576.jpg')}}"></p>
    <p>L’Antiquité débute en 10 000 ans avant Jésus-Christ lorsque les hommes commencent à cultiver des champs en Mésopotamie. Cette période de l’histoire se termine en 476 ans après Jésus-Christ lorsque l’Empire Romain chute. Les articles ci-dessous sont classés par zones géographiques, civilisations et ordre chronologique.</p>
    <p>L’Antiquité est une période de l’Histoire qui se situe entre 10 000 ans avant Jésus-Christ et 476 ans après Jésus-Christ. Au début de l’antiquité l’homme moderne commence à cultiver des champs et à construire des villes. Puis il invente la roue et l’écriture pour finalement se sédentariser. Naissent alors les religions, la différenciation sociale et les premières batailles.</p>      
    <p>Puis la royauté s’instaurent et les premiers Empires se battissent. Pendant l’antiquité, l’homme ne cesse de vouloir conquérir de nouveaux territoires. C’est alors que de longues et fructueuses périodes de prospérité se succèdent à de périlleuses périodes de guerre.</p>      
    <p><img src="{{ asset('assets/images/tour-babel-pieter-brueghel-768x576.jpg')}}"></p>
    <p>L’Antiquité débute en 10 000 ans avant Jésus-Christ lorsque les hommes commencent à cultiver des champs en Mésopotamie. Cette période de l’histoire se termine en 476 ans après Jésus-Christ lorsque l’Empire Romain chute. Les articles ci-dessous sont classés par zones géographiques, civilisations et ordre chronologique.</p>
    <p>L’Antiquité est une période de l’Histoire qui se situe entre 10 000 ans avant Jésus-Christ et 476 ans après Jésus-Christ. Au début de l’antiquité l’homme moderne commence à cultiver des champs et à construire des villes. Puis il invente la roue et l’écriture pour finalement se sédentariser. Naissent alors les religions, la différenciation sociale et les premières batailles.</p>      
    <p>Puis la royauté s’instaurent et les premiers Empires se battissent. Pendant l’antiquité, l’homme ne cesse de vouloir conquérir de nouveaux territoires. C’est alors que de longues et fructueuses périodes de prospérité se succèdent à de périlleuses périodes de guerre.</p>      
    <p><img src="{{ asset('assets/images/tour-babel-pieter-brueghel-768x576.jpg')}}"></p>
    <p>L’Antiquité débute en 10 000 ans avant Jésus-Christ lorsque les hommes commencent à cultiver des champs en Mésopotamie. Cette période de l’histoire se termine en 476 ans après Jésus-Christ lorsque l’Empire Romain chute. Les articles ci-dessous sont classés par zones géographiques, civilisations et ordre chronologique.</p>
    <p>L’Antiquité est une période de l’Histoire qui se situe entre 10 000 ans avant Jésus-Christ et 476 ans après Jésus-Christ. Au début de l’antiquité l’homme moderne commence à cultiver des champs et à construire des villes. Puis il invente la roue et l’écriture pour finalement se sédentariser. Naissent alors les religions, la différenciation sociale et les premières batailles.</p>      
    <p>Puis la royauté s’instaurent et les premiers Empires se battissent. Pendant l’antiquité, l’homme ne cesse de vouloir conquérir de nouveaux territoires. C’est alors que de longues et fructueuses périodes de prospérité se succèdent à de périlleuses périodes de guerre.</p>      
    <p><img src="{{ asset('assets/images/tour-babel-pieter-brueghel-768x576.jpg')}}"></p>
    <p>L’Antiquité débute en 10 000 ans avant Jésus-Christ lorsque les hommes commencent à cultiver des champs en Mésopotamie. Cette période de l’histoire se termine en 476 ans après Jésus-Christ lorsque l’Empire Romain chute. Les articles ci-dessous sont classés par zones géographiques, civilisations et ordre chronologique.</p>
    <p>L’Antiquité est une période de l’Histoire qui se situe entre 10 000 ans avant Jésus-Christ et 476 ans après Jésus-Christ. Au début de l’antiquité l’homme moderne commence à cultiver des champs et à construire des villes. Puis il invente la roue et l’écriture pour finalement se sédentariser. Naissent alors les religions, la différenciation sociale et les premières batailles.</p>      
    <p>Puis la royauté s’instaurent et les premiers Empires se battissent. Pendant l’antiquité, l’homme ne cesse de vouloir conquérir de nouveaux territoires. C’est alors que de longues et fructueuses périodes de prospérité se succèdent à de périlleuses périodes de guerre.</p>      
    <p><img src="{{ asset('assets/images/tour-babel-pieter-brueghel-768x576.jpg')}}"></p>
    <p>L’Antiquité débute en 10 000 ans avant Jésus-Christ lorsque les hommes commencent à cultiver des champs en Mésopotamie. Cette période de l’histoire se termine en 476 ans après Jésus-Christ lorsque l’Empire Romain chute. Les articles ci-dessous sont classés par zones géographiques, civilisations et ordre chronologique.</p>
</article>
    
<aside class="rightcolumn">
    <div class="accueil_aside_cards">
    {% for category in categories %}
        <div class="accueil_aside_cards_card">
            <div class="accueil_aside_cards_card_img" style="background-image: url({{asset('assets/images/carte.jpg')}});">
                <h4 class="accueil_aside_cards_card_title">{{ category.name }}</h4> 
            </div>
            <div class="accueil_aside_cards_card_body">
                <div class="accueil_aside_cards_card_body_article">
                    {% for article in category.articles %}
                        <a  class="accueil_aside_cards_card_body_article_link" href="{{ path('app_articles_show', {'slug': article.slug}) }}">{{ article.title }}</a>
                        <p class="accueil_aside_cards_card_body_article_like">{{ article.likes }} j'aime | {{ article.dislikes }} j'aimes pas</p>

                    {% else %}
                        <p class="accueil_aside_cards_card_body_article_0">
                        Aucun article dans cette catégorie
                    </p>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% else %}<div class="accueil_aside_cards_card">
                <div class="accueil_aside_cards_card_img" style="background-image: url({{asset('assets/images/ebih-il-mesopotamie-histoire.jpg')}});">
                    <h4 class="accueil_aside_cards_card_title">{{ category.name }}</h4>
                </div>
            </div>
            {% if not app.user %}
                <a href="{{ path('app_login') }}">Connecter vous pour ajouter un article</a> ou  <a href="{{ path('app_register') }}">créer un compte</a>
            {% endif %}
    {% endfor %}
    </div>

</aside>
{% endblock %}
