{% extends 'base.html.twig' %}

{% block title %}{{controller_name}}{% endblock %}

{% block body %}

<div class="leftcolumn">
    {% for article in articles %}
        <div class="article">
            <h2>{{ article.title }}</h2>
            <a href="{{ path('app_articles_show', {'slug': article.slug}) }}">
                <div class="articleImage" style="background-image: url({{article.thumb}});"></div>
            </a> 
            <div class="articleBody">
                <div class="articleMeta">
                    <div>
                        <icon class="fa fa-calendar"></icon> 
                        Publié le {{ article.createdAt ? article.createdAt|date('d/m/Y') : '' }}
                    </div>
                    <div>
                        <icon class="fa fa-folder"></icon> 
                        Catégorie : {{ article.categories }}
                    </div>
                    <div>
                        <icon class="fa fa-user"></icon> 
                        Auteur : {{ article.users.pseudo }}
                    </div>
                    <div>
                        {{ include('partials/_socialBar.html.twig')}}
                    </div>
                </div>
                <div class="articleContent">
                    {{ article.content | u.truncate(350,' ... ',false) | raw}}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<div class="rightcolumn">
    <h2>Site Vitrine</h2>
    <div>
        <p><b>Le Pack "SEEME" est un site statique comprenant:</b> </p>
        <p> • L'hébergement sur un serveur pour une année;</p>
        <p> • L'enregistrement du nom de domaine pour une année;</p>
        <p> • La création de plusieurs adresses e-mail;</p>
        <p> • L'insertion d'une galerie photos;</p>
        <p> • 5 pages de contenu;</p>
        <p> • L'insertion d'une carte de localisation;</p>
    </div>
    <h2>Site E-commerce</h2>
    <div>
        <p><b>Le Pack "PRO" est un site statique comprenant:</b> </p>
        <p> • L'hébergement sur un serveur pour une année;</p>
        <p> • L'enregistrement du nom de domaine pour une année;</p>
        <p> • La création de plusieurs adresses e-mail;</p>
        <p> • L'insertion d'une galerie photos;</p>
        <p> • 10 pages de contenu;</p>
        <p> • L'insertion d'une carte de localisation;</p>
        <p> • Un référencement basique;</p>
        <p> • 30-60 min de formation au CMS;</p>
    </div>
    <h2>Site Portfolio</h2>
    <div>
        <p><b>Le Pack "ART" est un site statique comprenant:</b> </p>
        <p> • L'hébergement sur un serveur pour une année;</p>
        <p> • L'enregistrement du nom de domaine pour une année;</p>
        <p> • La création d'une adresse e-mail personnalisée;</p>
        <p> • Une page de présentation;</p>
        <p> • L'insertion d'une photo;</p>
    </div>
</div> 

{% endblock %}
