{% extends 'base.html.twig' %}

{% block title %}Best Youtube Video !{% endblock %}

{% block body %}
<section class="leftcolumn">
    <h2>Toutes les vidéos</h2>
    <div class="ytrow">
        {% for youtube in youtubes %}
            <div class="ytcol">
                <div class="ytcard">
                    <a href="{{ path('youtube_video', {'id': youtube.id }) }}"><img src="{{ youtube.url|youtube_thumbnail }}" class=""></a>
                    <div class="">
                        <h5 class="">{{ youtube.name }}</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

<aside class="rightcolumn">
    <h2>Ajouter une vidéo</h2>
    {{ form_start(form) }}
        <div class="ytform" id="addvideo">
            <div class="url">
            <label class="">Url de la vidéo</label>
                {{ form_widget(form.url) }}
            </div>
            <div class="name">
            <label class="">Titre de la vidéo</label>
                {{ form_widget(form.name) }}
            </div>
            <button class="submit link">{{ button_label ??('Enregistrer') }}</button>
        </div>
    {{ form_end(form) }}
</aside>
{% endblock %}