<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block usersTitle %}{% endblock %} | Histoire du monde</title>
        {% block stylesheets %} {% endblock %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            
            <link rel="stylesheet"  type="text/css" href="{{ asset('assets/css/main.css')}}">
            <link rel="stylesheet"  type="text/css" href="{{ asset('assets/css/header.css')}}">
            <link rel="stylesheet"  type="text/css" href="{{ asset('assets/css/flash.css')}}">
            <link rel="stylesheet"  type="text/css" href="{{ asset('assets/css/root.css')}}">
    </head>
    
    <body style="">
        {{ include('users/partials/_nav.html.twig')}}
        <section class="content_users">
            {{ include('partials/_flash_messages.html.twig')}}
            {% block usersBody %}{% endblock %}
        </section>

            <div class="footer">
                <h2>Footer</h2>
            </div>
        {% block javascripts %} {% endblock %}
          
           <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
            <script src="{{ asset('/assets/js/script.js')}}"></script>
    </body>
</html>
