{% extends 'base.html.twig' %}

{% block title %}{{controller_name}}{% endblock %}

{% block body %}

<div class="left">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
    <h3 class="title">Articles à la une</h3>
    {% for article in articles %}
        <div class="card">
            <a href="{{ path('app_articles_show', {'slug': article.slug}) }}">
                <h2>{{ article.title }}</h2>
                <div class="cardImage" style="height:300px;background-image: url({{article.thumb}});"></div>
            </a> 
            <div class="cardBody">
                <div class="cardMeta">
                    <div>
                        <icon class="fa fa-calendar"></icon> 
                        Publié le {{ article.createdAt ? article.createdAt|date('d/m/Y') : '' }}
                    </div>
                    <div>
                        <icon class="fa fa-folder"></icon> 
                        Catégorie : {{ article.categories }}
                    </div>
                    <div>
                        <icon class="fa fa-user"></icon> 
                        Auteur : {{ article.users.pseudo }}
                    </div>
                    <div>
                        {{ include('partials/_socialBar.html.twig')}}
                    </div>
                </div>
                <div class="cardContent">
                    {{ article.content | u.truncate(350,' ... ',false) | raw}}
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(articles) }}
    </div>
</div>

<div class="right">
    <h3 class="title">Derniers articles</h3>
    {% for article in articles %}
        <div style="background-image: url({{article.thumb}});">
            <a href="{{ path('app_articles_show', {'slug': article.slug}) }}">
                <h3><b>{{ article.title }}</b></h3> 
                <p>{{ article.content | u.truncate(50,' ... ',false) | raw}}</p>
            </a>
        </div>
    {% endfor %}

</div>

{% endblock %}
