{% extends 'base.html.twig' %}

{% block title %}{{controller_name}}{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
{% endfor %}

<div class="leftcolumn">
    {% for article in articles %}
        <div class="article">
            <a href="{{ path('app_articles_show', {'slug': article.slug}) }}">
                <h2>{{ article.title }}</h2>
                <div class="articleImage" style="background-image: url({{article.thumb}});"></div>
            </a> 
            <div class="articleBody">
                <div class="articleMeta">
                    <div>
                        <icon class="fa fa-calendar"></icon> 
                        Publié le {{ article.createdAt ? article.createdAt|date('d/m/Y') : '' }}
                    </div>
                    <div>
                        <icon class="fa fa-folder"></icon> 
                        Catégorie : {{ article.categories }}
                    </div>
                    <div>
                        <icon class="fa fa-user"></icon> 
                        Auteur : {{ article.users.pseudo }}
                    </div>
                    <div>
                        {{ include('partials/_socialBar.html.twig')}}
                    </div>
                </div>
                <div class="articleContent">
                    {{ article.content | u.truncate(350,' ... ',false) | raw}}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<div class="rightcolumn">
    {% for category in categories %}
        <a href="{{ path('app_categories_show', {'slug': category.slug}) }}">
            <h2>{{ category.name }} ({{ category.articles | length}})</h2>
        </a>
        {% for article in category.articles %}
            <div style="background-image: url({{article.thumb}});">
                <a href="{{ path('app_articles_show', {'slug': article.slug}) }}">
                    <h3><b>{{ article.title }}</b></h3> 
                    <p>{{ article.content | u.truncate(50,' ... ',false) | raw}}</p>
                </a>
            </div>
        {% endfor %}
    {% endfor %}
</div>

{% endblock %}
