{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
<div class="left">
    {# <h2>{{ article.title }}</h2> #}
    <div class="img"style="height:500px;background-image: url({{article.thumb}});"></div>
    <div class="articleMetaRow">
    {% if article.users == app.user %}
        <a class="link" href="{{ path('users_articles_edit', {'slug': article.slug}) }}">Modifier</a>
    {% endif %}
        <p>
            {% if article.modifiedAt is not null %}
            <icon class="fa fa-calendar"></icon> Modifié le {{ article.modifiedAt ? article.modifiedAt|date('d/m/Y à H:i:s') : '' }}
            {% else %}
            <icon class="fa fa-calendar"></icon> Publié le {{ article.createdAt ? article.createdAt|date('d/m/Y') : '' }}
            {% endif %}
        </p>
        <a href="#">
            <icon class="fa fa-user"></icon> 
            {{ article.users.pseudo }}
        </a>
        <a href="#">
            <icon class="fa fa-folder"></icon> 
            {{ article.categories.name }}
        </a>
        <div>
            {{ article.likes }} <icon class="fa fa-thumbs-o-up"></icon>
            {{ article.dislikes }} <icon class="fa fa-thumbs-o-down"></icon>
        </div>
    </div>
    {{ include('/partials/_socialBar.html.twig')}}
    <div>{{ article.content|raw }}</div>
    <a class="link" href="{{ path('app_articles_accueil') }}">Retour</a>
</div>

<div class="right">
    <h3 class="title">Dans la même catégories</h3>
    {% for articles in categories.article %}
        <div style="background-image: url({{articles.thumb}});">
            <a href="{{ path('app_articles_show', {'slug': articles.slug}) }}">
                <h3><b>{{ articles.title }}</b></h3> 
                <p>{{ articles.content | u.truncate(50,' ... ',false) | raw}}</p>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}
