{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
<div class="leftcolumn">
    <article class="accueil">
        {% if article.users == app.user %}
            <a href="{{ path('users_articles_edit', {'slug': article.slug}) }}">Modifier</a>
        {% else %}

        {% endif %}
        <h2>{{article.categories.name}}</h2>
        <h3>{{ article.title }} </h3>
        
        <div class="page_articles_show_infos">
            <div class="page_articles_show_infos_date">
                <div>
                    {% if article.modifiedAt is not null %}
                    <icon class="fa fa-calendar"></icon> Modifié le {{ article.modifiedAt ? article.modifiedAt|date('d/m/Y à H:i:s') : '' }}
                    {% else %}
                        Publié le {{ article.createdAt ? article.createdAt|date('d/m/Y') : '' }}
                    {% endif %}
                </div>
                <a href="#">
                    <icon class="fa fa-user"></icon> 
                    {{ article.users.pseudo }}
                </a>
            </div>
            <div class="page_articles_show_infos_like">
                <div>{{ article.likes }} <icon class="fa fa-thumbs-o-up"></icon></div> 
                <div>{{ article.dislikes }} <icon class="fa fa-thumbs-o-down"></icon></div>
            </div>
            
        </div>
            <div class="page_articles_show_infos_social">
                {{ include('/partials/_socialBar.html.twig')}}
            </div>
        <p>{{ article.content|raw }}</p>

        <a class="link" href="{{ path('app_articles_accueil') }}">Retour</a>
    </article>
</div>

<div class="rightcolumn">
    <aside class="accueil_aside">
        <a href="{{ path('app_articles_accueil') }}">Retour</a>

            {% if article.users == app.user %}
                <a href="{{ path('users_articles_edit', {'slug': article.slug}) }}">Modifier</a>
            {% else %}

            {% endif %}
        <h2>Derniers articles</h2>
        <div class="cards">
            <div class="card">
                <div class="card_img"  style="background-image: url({{article.thumb}});">
                    <h4 class="card_title"><b></b></h4> 
                </div>
                <div class="card_body">
                </div>
            </div>
        </div>
    </aside>
</div>
{% endblock %}
